
.contactCon{
    display: flex;
    background-color: #fff9f8;
    margin-bottom: 50px;
}

@media (max-width: 768px){
    .contactFlex{
        flex-direction: column;

        input{
            width: 80vw;
        }
    }
}

.contactInput{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    input{
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #d4d3d3;
        color: #999;
        font-size: 12px;
        font-weight: 400;
        width: 240px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 5px;
        padding-left: 2px;
        margin: 10px;
    }

    p{
        margin-bottom: 20px;
        padding-left: 10px;
        font-size: 14px;
        
    }
}

.contactErrorBox{
    width: 260px;
}



.contactImg{
    width: 100%;
}


.contactFlex{
    display: flex;
}

@media (max-width: 780px){
    .contactImg{
        width: 40%;
        display: none;
    }
}



